@charset "UTF-8";
/* CSS Document */

#IndexPage
{
	display:block;
}

#SubmitPage
{
	 
}

.objinside
{
	position: absolute;
}

/* Page Background */
#FongateCanvas
{
	width:810px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
}
#MainCanvas
{
	background-image:url(../Assets/01_Tab/Tab_BG.png);
	background-repeat:no-repeat;
	
	width:810px; 
	height:1160px;



	position:relative;
	margin-left:auto;
	margin-right:auto;
}
#PopupCanvas
{
	background-image:url(../Assets/03_Post_Donate/Post_Donate_BG.png);
	background-repeat:no-repeat;
	width:330px;
	height:190px;
	display:none;
	position:relative;
	margin-left:auto;
	margin-right:auto;
}

/* End of Page Background */

/* Button Position*/
	/* Fangate */
/**/
/*
#ImgLike{left:132px; top:132px;}
/*/
#ImgLike{left:80px; top:100px; }

#ImgLink{left: 143px;top: 512px; }
/*/
#ImgLike{left:146px; top:146px;}
/**/
	/* End of Fangate */

	/* Tab */
#DivImgColor1{left:60px; top:290px; cursor:pointer;}
#DivImgColor2{left:220px; top:290px; cursor:pointer;}
#DivImgColor3{left:380px; top:290px; cursor:pointer;}
#DivImgColor4{left:140px; top:430px; cursor:pointer;}
#DivImgColor5{left:300px; top:430px; cursor:pointer;}

#DivImgHouse{left:486px; top:258px;}

#DivImgBtSubmit{left:520px; top:523px;}
#DivImgBtText{left:23px; top:800px; cursor:pointer;}

	/* End of Tab */
	
	/* Post Donate Screen */
#DivImgBtFB{left:75px; top:132px; cursor:pointer;}
#DivImgBtTW{left:179px; top:132px; cursor:pointer;}
#DivImgBtClose{left:290px; top:12px; cursor:pointer;}
	/* End of Post Donate Screen */
/* End of Button Position*/

@-moz-document url-prefix()
{
	#ImgLink{left: 144px;top: 506px; cursor:pointer;}
}
