@charset "UTF-8";
/* CSS Document */

#IndexPage
{
	display:block;
}

#SubmitPage
{
	display:none;
}

.objinside
{
	position: absolute;
}

/* Page Background */
#FongateCanvas
{
	width:928px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
}
#MainCanvas
{
	background-image:url(../Assets/01_Tab/Tab_BG.png);
	width:928px;
	height:1135px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
}
#PopupCanvas
{
	background-image:url(../Assets/03_Post_Donate/Post_Donate_BG.png);
	width:330px;
	height:190px;
	display:none;
	position:relative;
	margin-left:auto;
	margin-right:auto;
}

/* End of Page Background */

/* Button Position*/
	/* Fangate */
/**/
/*
#ImgLike{left:132px; top:132px;}
/*/
#ImgLike{left:100px; top:117px; cursor:pointer;}

#ImgLink{left: 164px;top: 571px; cursor:pointer;}
/*/
#ImgLike{left:146px; top:146px;}
/**/
	/* End of Fangate */

	/* Tab */
#DivImgColor1{left:60px; top:330px; cursor:pointer;}
#DivImgColor2{left:220px; top:330px; cursor:pointer;}
#DivImgColor3{left:380px; top:330px; cursor:pointer;}
#DivImgColor4{left:140px; top:470px; cursor:pointer;}
#DivImgColor5{left:300px; top:470px; cursor:pointer;}

#DivImgHouse{left:557px; top:296px;}

#DivImgBtSubmit{left:596px; top:600px;}
#DivImgBtText{left:27px; top:922px; cursor:pointer;}
	/* End of Tab */
	
	/* Post Donate Screen */
#DivImgBtFB{left:75px; top:132px; cursor:pointer;}
#DivImgBtTW{left:179px; top:132px; cursor:pointer;}
#DivImgBtClose{left:290px; top:12px; cursor:pointer;}
	/* End of Post Donate Screen */
/* End of Button Position*/
